<div class="mt-4">
    <div>
        <h3>Các Loại Bánh Đã Tạo</h3>
        {{!-- neu co course da xoa se show len --}}
        {{#if deleteCount}}
        <a class="d-flex align-items-center" href="/me/Recycle-Bin/courses"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>Recycle Bin ({{deleteCount}})</a>
        {{/if}}
        {{!-- khong co an Recycle --}}
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên Bánh</th>
                <th scope="col">Mô Tả</th>
                <th scope="col">Thời Gian Tạo</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                {{!-- hàm sum trong file index.js sử dụng helpers của hbs index là đối số thứ nhất a, 1 là b (0+1 = 1)
                --}}
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.decripton}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a type="button" href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                </td>
                <td>
                    <a type="button" href="/" data-bs-toggle="modal" data-id={{this._id}}
                        data-bs-target="#delete-courses" class="btn btn-link">Xóa</a>
                </td>

            </tr>
            {{!-- không có dữ liệu sử dụng thưu viện hbs --}}
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn Chưa Đăng Bánh Nào Hết.
                    <a href="/courses/create">Đăng Bánh Mới</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{!-- confirm delete xóa khóa học --}}
{{!--
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button> --}}

<div id="delete-courses" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa Bánh?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa bánh này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-courses" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
{{!-- delete hidenform --}}
<form method="POST" name="delete-form"></form>
    
<script>
    var id;
    var deleteform = document.forms['delete-form']
    const deleteCourses = document.getElementById('delete-courses')
    deleteCourses.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget;
        // Extract info from data-bs-* attributes
        id = button.getAttribute('data-id')
    })
    var btnDelete = document.getElementById('btn-delete-courses')
    console.log(btnDelete);
    btnDelete.onclick = function () {
        //set lại action
        deleteform.action = '/courses/' + id + '?_method=DELETE';
        deleteform.submit();
    }
</script>