<div class="container mt-4">
    <form class="needs-validation" id="frmthanhtoan" name="frmthanhtoan" method="post" action="/shop/checkout">
        <div class="checkout-success">
            <span>Đơn hàng đã được tạo thành công!!!</span>
        </div>
        <div style="background-color: #b6b9bd; padding: 4px 10px; " class="d-flex align-items-center mb-4">
            <div style="width:24px;" class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-cart-plus" viewBox="0 0 16 16">
                    <path
                        d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                    <path
                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
            </div>
            <div>
                <span style="font-weight: 400;">/ Thông tin giỏ hàng của bạn</span>
            </div>
        </div>

        {{!-- <div id="charrge-error" class="alert alert danger hidden">

        </div> --}}
        {{#if products}}
        <div class="row">
            <div class="col-md-5 order-md-1 mb-4">
                <h4 style="font-weight: 500;" class="d-flex justify-content-between align-items-center mb-3 text-dark">
                    Chi Tiết Đơn Hàng
                    {{!-- <span class="badge badge-secondary badge-pill">2</span> --}}
                </h4>
                {{#each products}}
                <for class="list-group mb-3">
                    <li style="border: 1px solid #ccc;padding:8px; background-color: #fff;"
                        class="d-flex align-items-center justify-content-around lh-condensed">
                        <div style="width: 110px; height: 120px" class="mr-2">
                            <img style="width: 100%; height: 100%" src="{{this.item.image}}"></img>
                        </div>
                        <div class="d-flex mr-2">
                            <div>
                                <h5 class="my-0">{{this.item.name}}</h5>
                                <div class="d-flex align-items-center mt-2 mb-2">
                                    <span class="text-muted">{{this.item.price}}.000đ x
                                    </span>
                                    {{!-- quantity cách 1 --}}
                                    <div class="d-flex ml-2">
                                        <span class="input-group-btn">
                                            <a href="/add-to-cart/reduce/{{this.item._id}}"
                                                class="btn btn-outline-secondary btn-number">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
                                                </svg>
                                            </a>
                                        </span>
                                        <span class="form-control text-center">{{this.qty}}</span>
                                        <span class="input-group-btn">
                                            <a href="/add-to-cart/plus/{{this.item._id}}" type="button"
                                                class="btn btn-outline-secondary btn-number">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                                                </svg>
                                            </a>
                                        </span>
                                    </div>

                                    {{!-- quantity cách 2 --}}
                                    {{!-- <input style="width: 60px;
                                    height: 38px;" type="text" class="form-control ml-2 border-danger" id="qtyUpdate"
                                        name="qtyUpdate" value="{{this.qty}}">
                                    <a href="/add-to-cart/plus/{{this.item._id}}"
                                        style="font-weight: 700;padding: 4px !important; background-color: #007bff"
                                        class="btn btn-outline-dark btn-number ml-1" id="update">Update</a> --}}
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <a type="button" href="/add-to-cart/remove/{{this.item._id}}"
                                        class="btn btn-link">Xóa</a>
                                    <span>Thành Tiền: <span style="font-weight: 500;">{{this.price}}.000đ</span></span>

                                </div>
                            </div>
                        </div>
                    </li>
                    </ul>
                    {{/each}}
                    <div class="list-group-item d-flex justify-content-between">
                        <h5 class="text-success">Tổng tiền:</h4>
                            <strong>{{ totalPrice }}.000 đ</strong>
                    </div>




                    {{!--
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Mã khuyến mãi">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">Xác nhận</button>
                        </div>
                    </div> --}}

            </div>
            <div class="col-md-7 order-md-2">
                <h4 style="font-weight: 500;" class="mb-3 text-dark">Người mua / Nhận Hàng</h4>
                <div style="background-color: #fff;
                border: 1px solid #ccc;
                padding: 14px 4px;" class="row">
                    <div class="form-item col-md-12 mb-3">
                        <label style="font-weight: 500;" for="kh_ten">Họ tên</label>
                        <input type="text" class="form-control" placeholder="Tên Người Nhận" name="fullname"
                            id="fullname" required="">
                        <span class="form-item-note"></span>
                    </div>
                    <div class="form-item col-md-12 mb-3">
                        <label style="font-weight: 500;" for="kh_diachi">Địa chỉ</label>
                        <input type="text" class="form-control" name="address" id="address"
                            placeholder="Địa Chỉ Nhận Hàng" value="" required="">
                        <span class="form-item-note"></span>
                    </div>
                    <div class="form-item col-md-12 mb-3">
                        <label style="font-weight: 500;" for="kh_dienthoai">Điện thoại</label>
                        <input type="text" class="form-control" name="sdt" id="sdt" placeholder="Số Điện Thoại"
                            required="">
                        <span class="form-item-note"></span>
                    </div>
                    <div class="form-item col-md-12 mb-3">
                        <label style="font-weight: 500;" for="kh_dienthoai">Ghi chú</label>
                        <input type="text" class="form-control" name="ghichu" id="ghichu">
                        <span class="form-item-note"></span>
                    </div>
                </div>
                {{!-- <h4 class="mb-3">Hình thức thanh toán</h4>

                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="httt-1" name="httt_ma" type="radio" class="custom-control-input" required=""
                            value="1">
                        <label class="custom-control-label" for="httt-1">Tiền mặt</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="httt-2" name="httt_ma" type="radio" class="custom-control-input" required=""
                            value="2">
                        <label class="custom-control-label" for="httt-2">Chuyển khoản</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="httt-3" name="httt_ma" type="radio" class="custom-control-input" required=""
                            value="3">
                        <label class="custom-control-label" for="httt-3">Ship COD</label>
                    </div>
                </div>
                <hr class="mb-4">--}}
                <button href="" class="btn btn-primary btn-lg btn-block mt-4" type="submit" name="btnDatHang">Đặt
                    hàng</button>
                <a style="font-siZe: 15px;" href="/" class="btn btn-warning btn-lg btn-block mt-4" name="">Mua Thêm
                    Bánh, Tiếp Tục Mua Hàng ^^</a>
            </div>
            {{else}}
            <div class="mt-4 text-center">
                <h2 class="mb-5 text-info">Không có sản phẩm nào trong giỏ hàng</h2>
                <image src="http://localhost:3000/img/noproductfound.png"></image>
                <button style="font-siZe: 15px;" href="/" class="btn btn-info btn-lg btn-block mt-4" name="">
                    Quay Lại Trang Chủ
                </button>
            </div>
            {{/if}}
        </div>
    </form>
</div>

<script src="http://localhost:3000/javascript/validatior.js"></script>
<script>
    var formCheckout = document.getElementById('frmthanhtoan');
    var charrgeError = document.getElementById('charrge-error')
    var qty = document.getElementById('qty')
    var update = document.getElementById('update')
    console.log(qty, update)

    {
        {
            !--update.onclick = function () {
                this.qty = qty.value;
            } --}
    }
    Validator({
        form: "#frmthanhtoan",
        rule: [
            Validator.isRequired("#fullname"),

            Validator.isArress("#address"),

            Validator.isSdt("#sdt"),

        ],
        onSubmit: function (data) {
            //Call API
            console.log(data)
        }
    })

</script>