{{#if products }}

<div class="mt-5">
    <h2 class="text-center text-primary">Giỏ hàng của bạn</h2>

    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">STT </th>
                <th scope="col">Tên Bánh</th>
                <th scope="col">Số Lượng</th>
                <th scope="col">Đvt</th>
                <th scope="col">Đơn Giá</th>
                <th scope="col">Thành Tiền</th>
                <th scope="col"></th>
            </tr>
        </thead>
        {{#each products}}
        <tbody>

            <tr>
                {{!-- hàm sum trong file index.js sử dụng helpers của hbs index là đối số thứ nhất a, 1 là b (0+1 = 1)
                --}}
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.item.name}}</td>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="d-flex quantity-group">
                            <span class="input-group-btn">
                                <a href="/add-to-cart/reduce/{{this.item._id}}"  class="btn btn-outline-secondary btn-number">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-dash-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
                                    </svg>
                                </a>
                            </span>
                            <span  class="form-control text-center">{{this.qty}}</span>
                            <span class="input-group-btn">
                                <a href="/add-to-cart/plus/{{this.item._id}}" type="button" class="btn btn-outline-secondary btn-number">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-plus-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                                    </svg>
                                </a>
                            </span>
                        </div>
                </td>
                <td>{{ this.item.unit }}</td>
                <td>{{ this.item.price }}.000</td>
                <td>{{ this.price }}.000</td>
                <td>
                    <a type="button" href="/add-to-cart/remove/{{this.item._id}}" class="btn btn-link">Xóa</a>
                </td>
            </tr>

        </tbody>
        {{/each}}

    </table>
    <div class="border-top d-flex justify-content-end">
        <h3 class="text-danger">Tổng Tiền: {{totalPrice}}.000 VNĐ</h3>
    </div>
    <div class=" d-flex justify-content-end mt-2 mb-4">
        <a href="/shop/checkout" class="btn btn-success">Thanh Toán</a>
    </div>
</div>
{{else}}
<div class="mt-4 text-center">
    <h2 class="mb-5 text-info">Không có sản phẩm nào trong giỏ hàng</h2>
    <image src="http://localhost:3000/img/noproductfound.png"></image>
</div>
{{/if}}

