{{!-- slider --}}
<div style="" id="SuccessMsg" class="d-flex justify-content-end">
  <div class="">
    <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
      {{successMsg}}
    </div>
    {{!-- <div id="success" class="alert alert-success">
      Đơn hàng đã được tạo, oanh lâm sẽ goi cho bạn liền nhé!
    </div> --}}
  </div>
</div>

<div id="carouselExampleControls" class="carousel slide mt-4" data-ride="carousel">
  <div style="position: relative;" class="carousel-inner">
    <div class="slider-contact">
      <div class="slider-contact-item">
        <div class="slider-text-item">
          <span class="text-shop">Bánh Chưng Hồng Oanh</span>
        </div>
        <div class="slider-text-item">
          <span class="text-cungcap">Cung Cấp Sỉ Lẻ Bánh Chưng, Bánh Tét, Các loại...</span>
        </div>
        <div class="slider-text-item">
          <span class="text-contact">Liên Hệ Đặt Bánh</span>
        </div>
        <div class="slider-text-item">
          <span class="text-numberphone">0948 274 217</span>
        </div>
      </div>

    </div>
    <div style="border-radius: 10px" class="carousel-item active slider-item">
      <img style="border-radius: 10px" class="d-block w-100 img-item"
        src="https://i.ibb.co/K6RdLv9/slider1.jpg" alt="First slide">
    </div>
    <div style="border-radius: 10px" class="carousel-item slider-item">
      <img style="border-radius: 10px" class="d-block w-100 img-item"
        src="https://i.ibb.co/Fb8qvdy/slider2.png" alt="Second slide">
    </div>
    <div style="border-radius: 10px" class="carousel-item slider-item">
      <img style="border-radius: 10px" class="d-block w-100 img-item"
        src="https://i.ibb.co/LvjQ5nb/slider3.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<div class="mt-4">
  <h3>Các Loại Bánh</h3>
  <div class="row">
    {{!-- tham khaor https://handlebarsjs.com/guide/#evaluation-context --}}
    {{#each courses}}
    <div class="col-sm-4 col-6 col-lg-3">
      <div class="mb-3 card card-item">
        <a href="/courses/{{this.slug}}">
          <img src="{{this.image}}" class="card-img-top img-banh" alt="{{this.name}}">
        </a>
        <div class="card-body">
          <a href="/courses/{{this.slug}}">
            <h5 class="card-title">{{this.name}}</h5>
          </a>
          <p class="card-text">{{this.decripton}}</p>

          <div class="d-flex align-items-center">
            <h5 class="text-price">{{this.price}}.000</h5>
            <p class="text-d">đ/</p>
            <p style="margin-right: 4px" class="text-d">{{unit}}</p>
            <a href="/courses/{{this.slug}}" class="btn-muangay ml-auto btn btn-success">Mua Ngay</a>
          </div>

        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>


<script src="http://localhost:3000/javascript/validatior.js"></script>